body{
    font-weight: 700;
}

.is-active{
    color: #83ba28;
    opacity: 1 !important;
}

.collection-item{
    display: flex;
    justify-content: space-between;
    opacity: 0.2;
}

.delete{
    color : orangered !important;
}

.icon{
    margin-left: 10px;
    cursor: pointer;
    color : black
}
